.food-btn {
  padding-top: 14px;
  padding-bottom: 14px;
  margin-top: 8px;
  margin-bottom: 8px;
}

.food-img {
    display: block;
    margin: auto;
}

/* TODO: Consider using Bootstrap breadcrumb */
#food-breadcrumb {
  font-size: 110%;
}

.food-breadcrumb {
  color: #333;
  style:none;
}

.food-breadcrumb:hover {
  color: #333;
  style: underline;
}

