/* css for timepicker */
.ui-timepicker-div .ui-widget-header { margin-bottom: 8px; }
.ui-timepicker-div dl { text-align: left; }
.ui-timepicker-div dl dt { height: 25px; margin-bottom: -25px; }
.ui-timepicker-div dl dd { margin: 0 10px 10px 65px; }
.ui-timepicker-div td { font-size: 90%; }
.ui-tpicker-grid-label { background: none; border: none; margin: 0; padding: 0; }

.form-horizontal .control-label {
  width: 80px;
}

.form-horizontal .controls {
  margin-left: 100px;
}

#form-buttons {
    margin-left: 100px;
}

/*#add-food-modal {*/
  /*width: 600px;*/
/*}*/

#slider-vertical {
    margin: auto;
    margin-top: 14px;
}

#quanity-readout {
    text-align: center;
    margin-left: 10px;
    margin-bottom: 10px;
}

.popover {
    width: 80px;
}

#add-food-btn {
    margin-right: 6px;
}

.food-input {
    margin-bottom: 6px;
}

#slider-vertical {
    height: 200px;
    margin-bottom: 6px;
}

#quantity-readout {
    margin-bottom: 8px;
}
